* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5em;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup {
    position: absolute;
    display: none;
    width: 380px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
}

.adressContainer {
    background: #ff8663 url('./img/point.png') no-repeat left 16px center;
    color: #ffffff;
    font-size: 12px;
    padding: 12px 32px;
}

.address {
    height: 24px;
    overflow: hidden;
}

.closeBtn {
    display: block;
    position: absolute;
    right: 16px;
    top: 17px;
    cursor: pointer;
}

.content {
    padding: 16px;
}

.comments {
    height: 140px;
    overflow-y: scroll;
}

.comments li {
    display: block;
    color: #4f4f4f;
    font-size: 12px;
    margin-bottom: 12px;
}

.comments li .name {
    font-weight: 500;
}

.comments li .place {
    opacity: 0.75;
}

.title {
    font-weight: 500;
    color: #ff8663;
    font-size: 16px;
    margin-top: 12px;
}

.form {
    text-align: right;
}

.form input, .form textarea {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 17px; 
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    margin-top: 16px;
}

.form textarea {
    resize: none;
    height: 114px;
}

.addBtn {
    color: #ffffff;
    background: #ff8663;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
}

.balloon-link {
    display: block;
    margin-top: 12px;
}

.balloon-body {
    margin-top: 12px;
}

.balloon-footer {
    margin-top: 12px;
    text-align: right;
}