<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div id="map"></div>
    <div class="popup">
        <div class="popup__header">
            <i class="fa fa-location-arrow"></i>
            <span class="address"></span>
            <a href="#" class="close-btn"></a>
        </div>
        <div class="popup__body">
            <div class="comments"></div>
            <div class="form-title">ВАШ ОТЗЫВ</div>
            <form class="comment-form">
                <input class="input-name" type="text" placeholder="Ваше имя">
                <input class="input-place" type="text" placeholder="Укажите место">
                <textarea class="textarea" name="comment" placeholder="Поделитесь впечатлениями"></textarea>
                <button class="add-btn">Добавить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>