<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    
    <div id="map"></div>

    <div class="popup">
        <img src="./img/cross.png" alt="cross" class="closeBtn">
        <div class="adressContainer">
            <div class="address"></div>
        </div>
        <div class="content">
            <ul class="comments"></ul>
            <div class="title">ВАШ ОТЗЫВ</div>
            <form class="form">
                <input name="name" type="text" placeholder="Ваше имя" required>
                <input name="place" type="text" placeholder="Укажите место" required>
                <textarea class="textarea" name="comment" placeholder="Поделитесь впечатлениями" required></textarea>
                <button type="submit" class="addBtn">Добавить</button>
            </form>
        </div>
    
    </div>
</div>

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

</body>
</html>